{% extends 'base.html.twig' %}

{% block title %}Kilometrage index{% endblock %}

{% block body %}
    <h1>Kilometrage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Compteur</th>
                <th>Created_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for kilometrage in kilometrages %}
            <tr>
                <td>{{ kilometrage.id }}</td>
                <td>{{ kilometrage.compteur }}</td>
                <td>{{ kilometrage.createdAt ? kilometrage.createdAt|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_kilometrage_show', {'id': kilometrage.id}) }}">show</a>
                    <a href="{{ path('app_kilometrage_edit', {'id': kilometrage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_kilometrage_new') }}">Create new</a>
{% endblock %}
